/* VARIABLES */
:root {
    --schedule-height: 12em;
    --bottom-height: 20vh;
    --u8-blue: #00297a;
    --clr-foreground: #fff;
    --clr-foreground-secondary: #ccc;
    --metro-yellow: #b17405;
    /* --u8-blue: #b17405; */
}

@font-face {
    font-family: KrubRegular;
    src: url(fonts/Krub-Regular.ttf);
}
@font-face {
    font-family: KrubMedium;
    src: url(fonts/Krub-Medium.ttf);
}
@font-face {
    font-family: KrubRegularItalic;
    src: url(fonts/Krub-Italic.ttf);
}
@font-face {
    font-family: KrubRegularItalic;
    src: url(fonts/Krub-Light.ttf);
}

/* REASONABLE DEFAULTS */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
    line-height: 1.5;
    background-color: var(--u8-blue);
    -webkit-font-smoothing: antialiased;
    transition: all .6s ease-in-out;
    font-family: KrubMedium, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    color: var(--clr-foreground);
    /* font-weight: bold; */
}

#root,
#__next {
    isolation: isolate;
}

#canvas {
    height: 100vh;
    position: absolute;
    inset: 0;
    display: inline-flex;
    transition: all .4s ease-in-out;
}

.landing_page {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    background-color: var(--u8-blue);
}

h1 {
    font-size: 2.8rem;
    text-align: left;
    margin-block: 2rem;
}

h2 {
    font-family: KrubRegular, sans-serif;
    font-size: 1.2rem;
    max-width: 60ch;
    margin-bottom: .8rem;
}

h1,
h2 {
    font-weight: 300;
}

.lp__sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: end;
    justify-content: end;
    /* justify-content: space-between; */
    width: 2fr;
    color: var(--clr-foreground);
}

.lp__sidebar > ul {
    margin-top: 3.4rem;
    margin-left: 1rem;
}

.lp__sb_logo {align-self: flex-start;}

.lp__info {
    position: absolute;
    transform: translateX(0rem) rotate(270deg);
    transform-origin: bottom left;
    font-size: 1.2rem;
    width: calc(100vh - 15.2rem);
    bottom: 11.2rem;
    left: 10rem;
}

.arrow_keys {
    margin-top: 3rem;
    align-self: center;
    color: var(--clr-foreground);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: min-content;
    gap: 4px;
}

.key {
    --keypress-bg: #ffffff88;

    width: 3rem;
    height: 3rem;
    border: solid var(--clr-foreground) 1.5px;
    border-radius: 4px;
    text-align: center;
    transition: all .2s ease-in-out;
}
.key:not(.empty, .left, .right) {cursor: not-allowed;}
.right {cursor: pointer;}
.right:hover {background-color: var(--keypress-bg) !important;}


.right {
    animation: keypress_right 4s infinite;
}

@keyframes keypress_right {
    0% {

    }
    15% {
        background-color: var(--keypress-bg);
    }

    20% {
        background-color: transparent;
    }

    60% {
        background-color: transparent;
    }
    
    75% {
        background-color: var(--keypress-bg);
    }
    80% {background-color: transparent;}
}


.empty {border: none;}

a.start_link {
    margin-top: 1.2rem;
    display: block;
    width: 100%;
    font-size: 1.4rem;
    /* text-align: center; */
    color: var(--clr-foreground);
}

a.start_link:where(:focus, :hover) {
    color: var(--clr-foreground-secondary);
    cursor: pointer;
}

.lp__content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: 100svh;

}

.img_lever {
    margin-top: 2rem;
    height: 20rem;
    align-self: center;
}



.lp__img_metro {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh !important;
    transform: scale(.9);
    transform-origin: right;
    transition: all .15s ease-in-out;
    cursor: pointer;
}

.lp__img_metro:hover {
    transform: scale(1);
}


/* SCHEDULE/TOP */
.schedule {
    position: fixed;
    display: inline-flex;
    width: 100vw;
    height: var(--schedule-height);
    overflow: hidden;
    color: var(--clr-foreground-secondary);
}

ul#station_list {
    position: absolute;
    left: 0;
    padding: 0;
    --list-lenght: 38.5rem;
    margin-left: calc(50% - var(--list-lenght));
    height: var(--schedule-height);
}

#station_list > li {
    /* color:  var(--clr-foreground-secondary); */
    display: inline-block;
    max-width: 2.6rem;
    overflow: visible;
    white-space: nowrap;
    transform-origin: top right;
    transform: rotate(-30deg) translateY(8rem);
    transition: all ease-in-out .0s;
    user-select: none;
    --dot-scale-factor: 1.4;
    --dot-scale-factor-big: 2;
}

a.station_link {
    display: inline-block;
    height: inherit;
    color: inherit;
}

a.station_link::before {
    content: 'â—';
    display: inline-block;
    color: var(--clr-foreground);
    transform: translateX(.1em) translateY(.85em) scale(var(--dot-scale-factor));
    /* transform-origin: 50% 51%; */
    transition: all ease-in-out .05s;
}


a.station_link:hover {
    color: var(--clr-foreground);

    font-weight: bold;
    cursor: pointer;
}

.station_link_active {
    font-weight: bolder;
    color: var(--clr-foreground);
}

a.station_link:hover::before {
    transform: translateX(.1em) translateY(.85em) scale(--dot-scale-factor-big);
}


hr {
    position: sticky;
    left: 0;
    top: 9.41rem;
    border: solid var(--clr-foreground) 2px;
    width: 100vw;
    height: 0;
}


/* SLIDESHOW */
.slideshow_holder {
    overflow: hidden;
    position: absolute;
    top: var(--schedule-height);
    height: 25vw;
    width: 100vw;
}

#slideshow {
    display: inline-flex;
    width: fit-content;
    transition: all ease-in-out;
}

.img__holder {
    position: relative;
    height: 25vw;
    min-width: 100vw;
    overflow: hidden;
}

.img__holder > * {
    position: absolute;
}

.img__overlay { 
    transition: all ease-in-out .2s;
    transform-origin: center;
    transform: scale(1);
    opacity: 1;
}

.img__overlay_active {
    transform: scale(1.2);
    opacity: 0;
}

.img__image { 
    transition: all ease-in-out .3s;
    transform: scale(1);
}

.img__image_active {
    color: var(--clr-foreground);
    transform: scale(1.1);
}

/* static overlay test */
#ol {
    position: absolute;
    inset: 0;
    width: 100%;
    z-index: 150;
}

.sl__btn_left,
.sl__btn_right {
    position: absolute;
    top: 0;
    width: 50vw;
    height: 100%;
    z-index: 200;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}
.sl__btn_right {
    right: 0;
    transform: rotate(180deg);
}

.sl__btn_left:hover,
.sl__btn_right:hover {
    cursor: pointer;
    /* opacity: .6; */
}

.ylw_bg {
    background-color: var(--metro-yellow);
}

/* BOTTOM */
.bottom {
    display: flex;
    /* grid-template-columns: 1fr 2fr; */
    /* column-gap: 20vw; */
    /* background-color: var(--u8-blue); */
    color:  var(--clr-foreground);
    justify-content: space-between;
    width: 100vw;
    height: auto;
    position: fixed;
    bottom: 0;
}

.bottom__logo,
.bottom__stationInfo {
    margin: 3.4rem;
    width: 60ch;
    /* border:  var(--clr-foreground) solid 2px; */
}
.img_u8 {
    margin: 3.4em;
    padding: .8em;
    height: 5em;
    width: auto;
    border: solid  var(--clr-foreground) 4px;
    border-radius: .8em;
}

.bottom__logo {
    cursor: pointer;
    align-self: flex-end;
}

.end_page {
    position: absolute;
    left: 200vw;
    background-color: var(--u8-blue);
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
}

.ep__img_metro {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh !important;
    transform: scale(.9);
    transform-origin: left;
    transition: all .15s ease-in-out;
    cursor: pointer;
}

.ep__img_metro:hover {transform: scale(1);}

.ep__sidebar {
    position: relative;
    width: auto;
}

.ep__info {
    position: absolute;
    transform: rotate(270deg);
    transform-origin: bottom right;
    font-size: 1.2rem;
    width: calc(100vh - 8rem);
    top: -3rem;
    right: 4rem;
}

.scale_img_metro {transform: scale(1);}
