/* VARIABLES */
:root {
    --schedule-height: 12em;
    --bottom-height: 20vh;
    --u8-blue: #00297a;
    --clr-foreground: #fff;
    --clr-foreground-secondary: #ccc;
    --metro-yellow: #b17405;
    /* --u8-blue: #b17405; */
}

/* REASONABLE DEFAULTS */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
    line-height: 1.5;
    background-color: var(--u8-blue);
    -webkit-font-smoothing: antialiased;
    transition: all .6s ease-in-out;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* SCHEDULE/TOP */
.schedule {
    position: fixed;
    display: inline-flex;
    width: 100vw;
    height: var(--schedule-height);
    overflow: hidden;
}

ul {
    position: absolute;
    left: 0;
    padding: 0;
    --list-lenght: 38.5rem;
    margin-left: calc(50% - var(--list-lenght));
    height: var(--schedule-height);
}

li {
    color:  var(--clr-foreground-secondary);
    display: inline-block;
    max-width: 2.6rem;
    overflow: visible;
    white-space: nowrap;
    transform-origin: top right;
    transform: rotate(-30deg) translateY(8rem);
    transition: all ease-in-out .0s;
    user-select: none;
    --dot-scale-factor: 1;
}

a.station_link {
    display: inline-block;
    height: inherit;
    color: inherit;
}

a.station_link::before {
    content: 'â—';
    display: inline-block;
    color: var(--clr-foreground);
    transform: translateX(.1em) translateY(.95em) scale(var(--dot-scale-factor));
    transition: all ease-in-out .05s;
}


a.station_link:hover {
    font-weight: bold;
    cursor: pointer;
}

.station_link_active {
    font-weight: bolder;
    color: var(--clr-foreground);
}

a.station_link:hover::before {
    transform: translateX(.1em) translateY(.95em) scale(1.4);
}


hr {
    position: sticky;
    left: 0;
    top: 9.41rem;
    border: solid var(--clr-foreground) 2px;
    width: 100vw;
    height: 0;
}


/* SLIDESHOW */
.slideshow_holder {
    overflow: hidden;
    position: absolute;
    top: var(--schedule-height);
    height: 25vw;
    width: 100vw;
}

#slideshow {
    display: inline-flex;
    width: fit-content;
    transition: all ease-in-out;
}

.img__holder {
    position: relative;
    height: 25vw;
    min-width: 100vw;
    overflow: hidden;
}

.img__holder > * {
    position: absolute;
}

.img__overlay { 
    transition: all ease-in-out .2s;
    transform-origin: center;
    transform: scale(1);
    opacity: 1;
}

.img__overlay_active {
    transform: scale(1.2);
    opacity: 0;
}

.img__image { 
    transition: all ease-in-out .3s;
    transform: scale(1);
}

.img__image_active {
    transform: scale(1.1);
}

/* static overlay test */
#ol {
    position: absolute;
    inset: 0;
    width: 100%;
    z-index: 150;
}

.sl__btn_left,
.sl__btn_right {
    position: absolute;
    top: 0;
    width: 50vw;
    height: 100%;
    z-index: 200;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}
.sl__btn_right {
    right: 0;
    transform: rotate(180deg);
}

.sl__btn_left:hover,
.sl__btn_right:hover {
    cursor: pointer;
    /* opacity: .6; */
}

.sl__btn_img {
    height: 30%;
    width: auto;
    margin-inline: 20%;
}

.ylw_bg {
    background-color: var(--metro-yellow);
}

/* BOTTOM */
.bottom {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20vw;
    /* background-color: var(--u8-blue); */
    color:  var(--clr-foreground);
    width: 100vw;
    height: auto;
    position: fixed;
    bottom: 0;
}

.bottom__logo,
.bottom__stationInfo {
    margin: 1rem;
    padding: 1rem;
    /* border:  var(--clr-foreground) solid 2px; */
}
.img_u8 {
    margin: 3.4em;
    padding: .8em;
    height: 5em;
    border: solid  var(--clr-foreground) 4px;
    border-radius: .8em;
}